<div id="body-content">
  <div class="h-center font-large">
    <h1>Today's news</h1>
  </div>

  <% @all_news.each do |news| %>
    <ul class='vcard large-10 panel callout radius'>
      <li>
        <h3><%= link_to "#{news.title}", show_news_path(news), class:'fn' %></h3>
      </li>
      <li>Date: <%= news.date %></li>
      <li><%= news.desc %></li>
    </ul>
  <% end %>

  <div class="large-12 columns">
    <%= will_paginate @all_news, :container => false %>
  </div>
</div>

