<div id="body-content">
  <h2><%= @news.title %></h2>
  <div class="large-8">
  <p class="panel"><%= @news.desc %></p>
  <% @news.content.split('||').each do |para| %>
    <p><%= para %></p>
  <% end %>
  </div>
</div>
