<% content_for :title do %>
  单词列表
<% end %>
<% @words.each do |word| %>
  <p><%= link_to word.word, word %></p>
<% end %>
<div class="center digg_pagination">
  <%= will_paginate @words, :container => false %>
</div>
